*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}

.container{
    width: 1200px;
    height: 1000px;
    background: rgb(245, 245, 245);
    margin: 0 auto;
}

.Logocontainer{
    background: white;
    height: 75px;
}

img{
    margin-top: 10px;
}

.Logo{
    display: inline;
    margin-top: 10px;
}

.boxtop{
    background: white;
    width: 900px;
    height: 50px;
    margin: 50px auto;
    margin-bottom: 2px;
    padding: 14px;
    padding-left: 50px;
}

.Task{
    display: inline-block;
    background: lightskyblue;
    border: lightskyblue 1px solid;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: #fff;
    font-size: 11px;
}

.Section{
    display: inline-block;
    background: white;
    border: lightsalmon 1px solid;
    border-radius: 5px;
    margin-right: 20px;
    padding: 5px 10px 5px 10px;
    color: lightsalmon;
    font-size: 11px;
}

.boxmain{
    background: white;
    width: 900px;
    margin: 1px auto;
    padding-top: 50px;
    padding-left: 50px;
}

ul{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 25px; 
}

li{

    line-height: 35px;
}

.check{
    font-size: 8px;
    display: inline;
    color: green;
    border: green 1px solid;
    border-radius: 50%;
    padding: 3px;
    line-height:20px;
}

.failcheck{
    font-size: 8px;
    display: inline;
    color: red;
    border: red 1px solid;
    border-radius: 50%;
    padding: 3px;
    line-height:20px;
}

.editorial{
    font-size: 8px;
    display: inline-block;
    background: lightskyblue;
    border: lightskyblue 1px solid;
    border-radius: 10px;
    color: #fff;
    font-size: 11px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
}

.Q1goals{
    display: inline-block;
    background: violet;
    border: violet 1px solid;
    border-radius: 10px;
    color: #fff;
    font-size: 11px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;    
}

.Recruiting{
    display: inline-block;
    background: lightgreen;
    border: lightgreen 1px solid;
    border-radius: 10px;
    color: #fff;
    font-size: 11px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;    
}

.Mobile{
    display: inline-block;
    background: orange;
    border: orange 1px solid;
    border-radius: 10px;
    color: #fff;
    font-size: 11px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px; 
}

.Website{
    display: inline-block;
    background: rgb(206, 106, 206);
    border: rgb(206, 106, 206) 1px solid;
    border-radius: 10px;
    color: #fff;
    font-size: 11px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px; 
}

.Sales{
    display: inline-block;
    background: yellowgreen;
    border: yellowgreen 1px solid;
    border-radius: 10px;
    color: #fff;
    font-size: 11px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px; 
}